@white: #FFFFFF;
@whiteish: #F3F1F2;

@lightdark: #C8CCCF;
@darkish: #666;
@dark: #4F4F4F;


/* Project-specific styles go here */
#root {
    .beeswarm {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 1em;
        margin: auto;

        .canvas-container {
            width: 800px;
            height: 400px;
            margin-bottom: 2em;
        }
    }

    .legend {
        height: 0em;
        margin: auto;
        padding: 0;
        border: none;
        transform: translateY(-2em);
        background-color: unset;
    }

    .text {
        width: 480px;
        max-width: 100%;
        min-height: 4em;
        margin: auto;
        text-align: center;
        .hint {
            font-size: 0.8em;
            font-weight: bold;
        }
    }

    @media (max-width: 800px) {
        .beeswarm {
            .canvas-container {
                width: 100%;
                height: 440px;
            }
        }
    }
}
